.scrollbar{
    position:relative;
    height:100%;
    overflow:hidden;
}
.scrollbar .scrollbar__wrap{
   overflow: scroll;
    height:100%;
    margin-bottom: -17px;
    margin-right: -17px;
}
.scrollbar .scrollbar__bar{
    position:absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
}
.scrollbar .scrollbar__bar.is-vertical{
    top:2px;
    width:6px;
}
.scrollbar .scrollbar__bar.is-horizontal{
    left:2px;
    height:6px;
}
.scrollbar .scrollbar__bar.is-horizontal>div{
    height:100%;
}
.scrollbar .scrollbar__bar.is-vertical>div{
    width:100%;
}
.scrollbar .scrollbar__bar .scrollbar__thumb{
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(144,147,153,.3);
    transition:opacity 120ms ease-out;
}

.center-1200{
    width:1200px;
    margin:0 auto;
}
.counter-skewX-40{
    transform: skewX(-40deg);
}

.before-slash{
    float:right;
    height:100%;
    content:'';
    border-right:2px solid ;
}

.rectangle-button{
    width:254px;
    height:57px;
    background: url('../images/home/button.png') no-repeat;
    background-size:100% 100%;
    font-size:18px;
    color:#52B16E;
    transform: scale(1);
    transition:0.5s;
}
.rectangle-button:hover{
    transform: scale(1.05);
}

.designer-info,.designer-description{
    transition:0.5s;
}
.designer-info .designer-description{
    transition: 0.3s ease-out;
    transform: translateY(-100%);
    opacity: 0;
}
.designer-info:hover .designer-description{
    opacity:1;
    transform: translateY(0);
}

.team-info .team-description,.recruitment-info .recruitment-description{
    transition: 0.3s ease-out;
    transform: translateY(-100%);
}
.team-info:hover .team-description,.recruitment-info:hover .recruitment-description{
    transform: translateY(0);
}

.el-carousel__indicators{
    display: none;
}


.menu_drawer .el-drawer__body{
    background-color: rgba(0,0,0,0);
}
.Operating-case,.Operating-case .case-btn{
    transition:0.5s;
}
.Operating-case .case-btn{
    background:rgba(233,239,237,1);
    color:#488E74;
}
.Operating-case:hover{
    transform: scale(1.01);
    box-shadow:0px 9px 9px rgba(82,177,110,0.33);
}
.Operating-case:hover .case-btn{
    background-color: #52B16E;
    color:#FFFFFF;
}

.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color:#52B16E !important;
}

/*!* 滚动条整体部分 *!
.scrollbar::-webkit-scrollbar{
    width:6px;
    height:12px;
    background-color:#d2f1f0;
}

!* 滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条） *!
.scrollbar::-webkit-scrollbar-track{
    background-color: #FFFFFF;
    border-radius:6px;
}

!* 滚动条的轨道（里面装有Thumb） *!
.scrollbar::-webkit-scrollbar-thumb{
    opacity: 0;
    background-color:#e7ebed;
    border-radius:6px;
}


.scrollbar::-webkit-scrollbar-thumb:hover{
    opacity:1;
}

!* 边角，即两个滚动条的交汇处 *!
.scrollbar::-webkit-scrollbar-corner{
    opacity:0;
}*/
